name: Test Problem-List

on:
  pull_request:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6

      - name: Install Dependencies
        run: npm install

      - name: Test problems solutions
        run: npm run test:ci

      - name: Add summary
        if: always()
        run: |
          echo "## Workflow summary" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "- Status: ${{job.status}}" >> $GITHUB_STEP_SUMMARY

          echo "## Test summary" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY

          if [ ! -f ./vitest-report.json ]; then
            echo "No test summary found!" >> $GITHUB_STEP_SUMMARY
            exit
          fi

          total=$(jq '.numTotalTests // 0' vitest-report.json)
          succeed=$(jq '.numPassedTests // 0' vitest-report-json)
          failed=$(jq '.numFailedTests // 0' vitest-report.json)
          passed=$(success)

          echo "Tests Ran: $(total)" >> $GITHUB_STEP_SUMMARY
          echo "Test Succeed: $(succeed)" >> $GITHUB_STEP_SUMMARY
          echo "Test Failed: $(failed)" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY

          if passed; then
            echo "Tests all passed!" >> $GITHUB_STEP_SUMMARY
          else
            echo "Test run has failed!" >> $GITHUB_STEP_SUMMARY
          fi
