name: Test Problem-List

on:
  pull_request:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6

      - name: Install Dependencies
        run: npm install

      - name: Test problems solutions
        run: npm run test:ci

      - name: Add summary
        if: always()
        run: |
          echo "## Workflow summary" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "- Status: ${{job.status}}" >> $GITHUB_STEP_SUMMARY

          echo "## Test summary" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY

          if [ ! -f ./vitest-report.json ]; then
            echo "No test summary found!" >> $GITHUB_STEP_SUMMARY
            exit
          fi

          total=$(jq '.numTotalTests' vitest-report.json)
          succeed=$(jq '.numPassedTests' vitest-report.json)
          failed=$(jq '.numFailedTests' vitest-report.json)
          passed=$(jq '.success' vitest-report.json)
          seconds=$(( ( $(date +%s) * 1000 - $(jq -r '.startTime' vitest-report.json) ) / 1000 ))

          echo "Tests Ran: $total" >> $GITHUB_STEP_SUMMARY
          echo "Test Succeed: $succeed" >> $GITHUB_STEP_SUMMARY
          echo "Test Failed: $failed" >> $GITHUB_STEP_SUMMARY
          echo "Run for $seconds" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY

          if passed; then
            echo "Tests all passed!" >> $GITHUB_STEP_SUMMARY
          else
            echo "Test run has failed!" >> $GITHUB_STEP_SUMMARY
          fi

          echo "### Failed Tests" >> $GITHUB_STEP_SUMMARY

          jq -c '.testResults[]' vitest-report.json | while IFS= read -r testGroup; do
            test_group_status=$(printf '%s' "$testGroup" | jq -r '.status')
            if [ "$test_group_status" = "failed" ]; then

              name=$(printf '%s' "$testGroup" | jq -r '.name')

              echo "-> $name" >> $GITHUB_STEP_SUMMARY

              printf '%s' "$testGroup" | jq -c '.assertionResults[]' | while IFS= read -r test; do
                test_status=$(printf '%s' "$test" | jq -r '.status')
                test_name=$(printf '%s' "$test" | jq -r '.ancestorTitles[0]')
                test_title=$(printf '%s' "$test" | jq -r '.title')

                if [ "$test_status" = "failed" ]; then

                  echo "-> $test_name" >> $GITHUB_STEP_SUMMARY
                  echo "-> $test_title" >> $GITHUB_STEP_SUMMARY

                fi

              done
            fi
          done