name: Test Problem-List

on: 
  pull_request:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6

      - name: Install Dependencies
        run: npm install
      
      - name: Test problems solutions
        run: npm run test

      - name: Add summary
        if: always()
        run: |
          echo "## Test summary" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "- Status: ${{job.status}}" >> $GITHUB_STEP_SUMMARY
